* {background-color: rgb(11, 8, 5);}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 100%;
    max-width: auto;
    margin: 0 auto;
}

.header {
    text-align: center;
    background-color: rgb(216, 49, 19);
    padding: 20px;
    color: whitesmoke
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.dog-section, .cat-section, .verses-section {
    text-align: center;
    background-color: rgb(226, 25, 14);
    padding: 20px;
    margin: 10px;
    color: white;
}

.dog-section, .cat-section {
    width: 600px;
    height: 500px;
    color: whitesmoke
}

.verses-section {
    width: 100px;
    height: 100px;
    color: white
}

img {
    width: 400px;
    height: 300px;
}

.hidden {
    display: none;
}

.winner {
    text-align: center;
    font-size: 50px;
    color: rgb(0, 255, 0);
    animation: winner-animation 1s infinite;
}

@keyframes winner-animation {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.verses-section button {
    background-color: #5ea935; 
    color: white;              
    border: none;               
    font-size: 24px;           
    font-family: 'Arial', sans-serif; 
    padding: 10px 20px;        
    border-radius: 10px;       
    cursor: pointer;           
    transition: background-color 0.3s ease; 
}

.verses-section button:hover {
    background-color: #000000; 
}

.scroll-container {
    display: flex;
    overflow-x: scroll;
    padding: 10px;
    gap: 10px;
}

.scroll-container img {
    width: 50px;   /* Thumbnail size */
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.scroll-container img:hover {
    transform: scale(1.1); /* Scale up on hover */
}

.selectable-img {
    border: 2px solid transparent;
}

.selectable-img.selected {
    border-color: #47ffbb; /* Highlight selected image */
}

/* Style for the images */
#dog-img, #cat-img {
    width: 300px; /* Adjust the size as needed */
    position: relative;
    transition: transform 0.5s ease-in-out; /* Smooth transition for movement */
}

/* Animation  for moving pictures */
@keyframes clash {
    0% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-200px); 
    }
    60% {
        transform: translateX(300px);
    }
    100% {
        transform: translateX(0); 
    }
}

@keyframes clashCat {
    0% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(200px);
    }
    60% {
        transform: translateX(-300px); 
    }
    100% {
        transform: translateX(0); 
    }
}

/* Clash class to trigger animation */
.clash {
    animation: clash 1s ease forwards; /* Animation for dog */
}

.clash-cat {
    animation: clashCat 1s ease forwards; /* Animation for cat */
}